<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898454793500-636o029o9f6jdm64174st45f8vi7n65e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898454793500-636o029o9f6jdm64174st45f8vi7n65e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>898454793500-hh4rht2daftf3d399gagoi63lquve93p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBt-B62HNRe422684Jyksr5H9gM3Mq3LrM</string>
	<key>GCM_SENDER_ID</key>
	<string>898454793500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chemax.catBoxFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-console</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-console.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898454793500:ios:d1a7cb8646f5cb2b415ed9</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-console.firebaseio.com</string>
</dict>
</plist>